<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/sign-in/">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/components/dropdowns/"><link rel="preconnect" href="https://AK7KMZKZHQ-dsn.algolia.net" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <link href="/docs/4.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
      a{
        color:black;
        text-decoration: none;
      }
      .v-line {
        display:flex;
        border-left : 2px solid black;
        height : 700px;
        float :left;
        position: relative;
      }
      .cover {
    display: flex;
    justify-content: space-between;
    padding:10px 200px 30px 50px;
}
.cover2{
  display: flex;
    justify-content: center;
}
.pl{
    width: 200px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 12px 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.pl:focus{
    border: 1px solid #9B51E0;
    box-sizing: border-box;
    border-radius: 10px;
    outline: 3px solid #F8E4FF;
    border-radius: 10px;
}
#container {
  display: flex;
}
#box-left {
  flex: 2;
}
#box-center {
  flex: 1;
  text-align: center;
}
#box-right {
  flex: 20;
  text-align: right;
}
    </style>
</head>
<body class="bg-light">
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" style="font-size:30px; color:darkgrey" href="/">KW-DBS</a>
    <a class="nav-link" style="color:gray; font-size:26px" href="/boards">게시판</a>
    <a class="nav-link" style="color:gray; font-size:26px" href="/corporations/search">종목조회</a>
    <a class="nav-link" style="color:gray; font-size:26px" href="/members/possession">보유주식</a>
    <a class="nav-link" style="color:gray; font-size:26px" href="/members/interests">관심종목</a>
    <a th:if = "${user_id == null}" class="nav-link" style="color:black" href="/login">로그인</a>
    <a th:if = "${user_id}" th:text = "${user_id}" href="/members/mypage"></a>
    <a th:if = "${user_id != null}" class="nav-link" style="color:black" href="/logout">로그아웃</a>
</nav>
<div style="margin-top:10px;" id="container">
  <div id="box-left">
      <a th:if="${criteria.category} == 0" onclick="setCategory(0)" style="font-weight: bold;margin-top:20px;margin-left:20px;float:left;">전체</a> <br>
      <a th:if="${criteria.category} != 0" onclick="setCategory(0)" style="margin-top:20px;margin-left:20px;float:left;">전체</a> <br>
  <br>
      <a th:if="${criteria.category} == 1" onclick="setCategory(1)" style="font-weight: bold;margin-top:20px;margin-left:20px;float:left;">국내주식</a>
      <a th:if="${criteria.category} != 1" onclick="setCategory(1)" style="margin-top:20px;margin-left:20px;float:left;">국내주식</a>

      <br>
      <a th:if="${criteria.category} == 2" onclick="setCategory(2)" style="font-weight: bold;margin-left:20px;float:left">기타</a>
      <a th:if="${criteria.category} != 2" onclick="setCategory(2)" style="margin-left:20px;float:left">기타</a>
</div>
<div class="v-line" id="box-center"></div>
<div id="box-right">
  <h1  style="padding: 30px 200px 10px 10px; float:right">게시판</h1>
    <div style="float:left;">
        <b>종목</b>
        <select id="cno_filter" class="pl" style="height:40px; width:100px;font-size:12px;">
            <option value="" th:selected="${criteria.cno == null}">전체</option>
            <option th:each = "info : ${corps_info}" th:value = "${info.cno}" th:text="${info.cname}"
                th:selected="${criteria.cno} == ${info.cno}"></option>
        </select>
        <b>제목</b>
        <input id = "title_filter" type="text" th:value = "${criteria.title}">
        <b>작성자</b>
        <input id = "writer_filter" type="text" th:value = "${criteria.writer}">
        <button type="button" onclick="setFilter()">적용</button>
    </div>
  <div style="padding:100px 200px 0px 10px;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th th:if="${ }" scope="col">#</th>
              <th scope="col">글 번호</th>
              <th scope="col">날짜</th>
              <th scope="col">글 제목</th>
              <th scope="col">글쓴이</th>
              <th scope="col">종목</th>
            </tr>
          </thead>
    
          <tbody>
            <tr th:each="board: ${boards}">
                <th th:if="${}" scope="col" style="width:10px;background-color: white;"><input type="checkbox" value=""></th>
                <td th:text="${board.bno}"> </td>
                <td th:text="${board.writeDate}" onClick="location.href='boarder_read.html'" style="cursor:pointer;"></td>
                <td> <a style="color:black" th:href="@{/boards/{bno}(bno=${board.bno})}" th:text = "${board.title}"></a></td>
                <td th:text="${board.nickname}"> </td>
                <td th:text="${board.cname}"> </td>
            </tr>
          </tbody>
      </table>

      <div style="display: flex; justify-content: center; margin-top:20px;">
          <nav aria-label="Page navigation example">
              <ul class="pagination pagination-sm"
                  th:with = "start=(${criteria.page > 2 ? criteria.page - 2 : 1}),
                                          last = ${start + 3}">
                  <th:block>
                      <li class="page-item">
                          <a class="page-link" th:onclick="movePage(-1);">&lt;</a>
                      </li>
                      <li th:each = "page : ${#numbers.sequence(start, last)}"
                          th:class="${page == criteria.page}?'active'">
                          <a class="page-link" th:text = "${page}" th:param = "${page}" th:onclick="movePage(this.getAttribute('param'));"></a>
                      </li>
                      <li class="page-item">
                          <a class="page-link" th:onclick="movePage(-2);">&gt;</a>
                      </li>
                  </th:block>
              </ul>
          </nav>
      </div>
      <div th:if="${}" class="cover2" style="float:right;">
          <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="password" aria-label="Search">
              <button class="btn btn-primary" type="submit"style="width:100px">삭제</button>
          </form>
      </div>

    </div>

</div>
    <div>
      <button type="button" class="btn btn-outline-success"
      onclick="location.href='/boards/new'"
              style="float:right;--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;width:100px;">
        글 쓰기
      </button>
    </div>
</div>
    <input id = "prev_category" type="hidden" th:value="${criteria.category}">
    <input id = "prev_cno" type="hidden" th:value="${criteria.cno}">
    <input id = "prev_title" type="hidden" th:value="${criteria.title}">
    <input id = "prev_writer" type="hidden" th:value="${criteria.writer}">
    <input id = "current_page" type="hidden" th:value="${criteria.page}">

    <form id="searchFilterForm" action="/boards" method="get">
        <input name="cno" id = "cno" type="hidden">
        <input name="title" id = "title" type="hidden">
        <input name="writer"  id = "writer" type="hidden">
        <input name="category" id = "category" type="hidden">
        <input name="page" id="page" type="hidden">
    </form>

</body>
<script>

  function setCategory(category){
    var form = document.getElementById("searchFilterForm");

    document.getElementById("category").value = category;
    document.getElementById("page").value = 1;

    form.submit();
  }

  function setFilter(){
        var form = document.getElementById("searchFilterForm");

        var cno = document.getElementById("cno_filter").value;
        document.getElementById("cno").value=cno;

        var title = document.getElementById("title_filter").value;
        if(title != "") {document.getElementById("title").value = title;}

        var writer = document.getElementById("writer_filter").value;
        if(writer != "") {document.getElementById("writer").value = writer;}

        document.getElementById("category").value = document.getElementById("prev_category").value;
        document.getElementById("page").value = 1;

        form.submit();
  }

  function movePage(pageNum){
    var form = document.getElementById('searchFilterForm');

    document.getElementById('category').value = document.getElementById('prev_category').value;
    document.getElementById('cno').value = document.getElementById('prev_cno').value;
    document.getElementById('title').value = document.getElementById('prev_title').value;
    document.getElementById('writer').value = document.getElementById('prev_writer').value;

    if(pageNum == -1){
        document.getElementById('page').value = parseInt(document.getElementById('current_page').value) - 1;
    }
    else if(pageNum == -2){
        document.getElementById('page').value = parseInt(document.getElementById('current_page').value) + 1;
    }else{
        document.getElementById('page').value = pageNum;
    }

    form.submit();
  }

</script>
</html>