
<script type="text/javascript">
    function doSearch() {
        var frm = document.boardSearchFrm;
        var str = frm.sw.value;
        str = str.replace(/^\s*/,'').replace(/\s*$/,'');	// trim
        
        if(str == '') {
            alert("검색어를 입력해 주세요.");
            frm.sw.value = '';
            frm.sw.focus();
        }
        else {
            frm.sw.value = str;
            frm.submit();
        }
    }
    </script>
    
    <!--  global include -->
    
        
    
    <html lang='ko'>
    <head>
    
    
        
            <title>삼성전자 : 네이버 금융</title>
        
        
    
    
    
    
    
        
        
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
    
    
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="apple-mobile-web-app-title" content="네이버 금융" />
    
    
    
    
    
        
            <meta property="og:title" content="네이버 금융"/>
            <meta property="og:image" content="https://ssl.pstatic.net/static/m/stock/im/2016/08/og_stock-200.png"/>
            <meta property="og:url" content="https://finance.naver.com"/>
            <meta property="og:description" content="국내 해외 증시 지수, 시장지표, 뉴스, 증권사 리서치 등 제공"/>
        
        
    
    <meta property="og:type" content="article"/>
    <meta property="og:article:thumbnailUrl" content=""/>
    <meta property="og:article:author" content="네이버금융"/>
    <meta property="og:article:author:url" content="http://FINANCE.NAVER.COM"/>
    
    
    
    
    
    
    <link rel='stylesheet' type='text/css' href='https://ssl.pstatic.net/imgstock/static.pc/20221123095624/css/finance_header.css'>
    
        
        
        
        
            
            <link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20221123095624/css/newstock.css">
            <link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20221123095624/css/common.css">
            <link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20221123095624/css/layout.css">
            <link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20221123095624/css/main.css">
            <link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20221123095624/css/newstock2.css">
            <link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20221123095624/css/newstock3.css">
            <link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20221123095624/css/world.css">
            
                
                
                    <script type="text/javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20221123095624/js/jindo.min.ns.1.5.3.euckr.js"></script>
                    <script type="text/javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20221123095624/js/release/common.js"></script>
                    <script type="text/javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20221123095624/js/jindoComponent/jindo.Component.1.0.3.js"></script>
                    <script type="text/javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20221123095624/js/nhn.autocomplete.stock.js"></script>
                
            
    
            
        
    
    <script>
        var ieVersion = (function () {
            var version = -1;
            if (
              navigator.appName == 'Microsoft Internet Explorer' &&
              navigator.userAgent.toLowerCase().indexOf('msie') != -1 &&
              new RegExp('MSIE ([0-9]{1,}[\./0-9]{0,})').exec(navigator.userAgent) != null
            ) {
              version = parseInt(RegExp.$1);
            }
            return version;
          })();
    </script>
        
        <!-- smart channel 광고 -->
        <script async src="https://ssl.pstatic.net/tveta/libs/glad/prod/gfp-core.js">
            </script>
        <script type="text/javascript">
            (function(){
                if (ieVersion === -1 || ieVersion > 10) {
                    window.gladsdk = window.gladsdk || { cmd: [] };
    
                    gladsdk.cmd.push(function() {
                            gladsdk.defineAdSlot({
                                adUnitId: "p_stock",
                                adSlotElementId: "_SmartChannelTopBanner",
                                uct: "KR",
                                customParam: {
                                    calp: 
                                        
                                        
                                        
                                        
                                        
                                        
                                        "home"
                                },
                            });
    
    
    
                            gladsdk.addEventListener(gladsdk.event.AD_LOADED, function(ad) {
                                //console.log(gladsdk.event.AD_LOADED);
                            });
                            gladsdk.addEventListener(gladsdk.event.AD_CLICKED, function(ad) {
                                //console.log(gladsdk.event.AD_CLICKED);
                            });
                            gladsdk.addEventListener(gladsdk.event.AD_IMPRESSED, function(ad) {
                                //console.log(gladsdk.event.AD_IMPRESSED);
                            });
                            gladsdk.addEventListener(gladsdk.event.ERROR, function(ad, error) {
                                //TODO: 오류 로깅처리
                                //console.log(gladsdk.event.ERROR);
                            });
                        });
                }
            })();
        </script>
        
    
        <link rel="shortcut icon" href="https://ssl.pstatic.net/imgstock/favi/favicon.ico" type="image/x-icon">
        
        <script type="text/javascript">
        (function(){
            document.write(
                    [
                        '<link rel="apple-touch-icon-precomposed" href="https://ssl.pstatic.net/imgstock/favi/favicon-96x96.png"/>',
                        '<link rel="apple-touch-icon-precomposed" sizes="180x180" href="https://ssl.pstatic.net/imgstock/favi/favicon-180x180.png"/>',
                        '<link rel="apple-touch-icon-precomposed" sizes="192x192" href="https://ssl.pstatic.net/imgstock/favi/favicon-192x192.png"/>',
                        '<link rel="icon" type="image/png" sizes="16x16" href="https://ssl.pstatic.net/imgstock/favi/favicon-16x16.png"/>',
                        '<link rel="icon" type="image/png" sizes="32x32" href="https://ssl.pstatic.net/imgstock/favi/favicon-32x32.png"/>',
                        '<link rel="icon" type="image/png" sizes="96x96" href="https://ssl.pstatic.net/imgstock/favi/favicon-96x96.png"/>',
                        '<link rel="icon" type="image/png" sizes="192x192" href="https://ssl.pstatic.net/imgstock/favi/favicon-192x192.png"/>'
                    ]
                .join('\n')
            );
        })();
        </script>
    </head>
    
    
    
    
    <body onload='getGNB();'>
        <div class="section inner_sub">
            <div class="titlearea2">
                <h4><span class="red03">종목</span>토론실</h4>
                <div>
                
                <a href="/notice.naver?noticeId=7131" class="caution"><img src="https://ssl.pstatic.net/static/nfinance/2020/03/25/icon_remark.png" alt="안내" width="15" height="15"> 토론실 활용 <span class="tip">TIP</span>과 운영원칙 안내</a>
                
                    
                    <a href="/item/board_write_edit.naver?code=005930&amp;mode=write"><img src="https://ssl.pstatic.net/imgstock/images5/btn_write.gif" width="66" height="23" alt="글쓰기"></a>
                
                </div> 
            </div>
            <table summary="종목 토론실의 게시판 글 목록입니다." cellspacing="0" class="type2">
            <caption>종목 토론실 게시판</caption>
            <colgroup>
                <col width="103">
                <col width="*">
                <col width="65">
                <col width="34">
                <col width="34">
                <col width="54">
            </colgroup>
            <tbody>
            <tr>
            <th>날짜</th>
            <th>제목</th>
            <th>글쓴이</th>
            <th>조회</th>
            <th>공감</th>
            <th>비공감</th>
            </tr>
            <tr><td colspan="7" height="8"></td></tr>
    
            
                <tr onmouseover="mouseOver(this)" onmouseout="mouseOut(this)" align="center" style="background-color: rgb(255, 255, 255);">
                <td><span class="tah p10 gray03">2022.12.01 23:33</span></td>
                <td class="title">
                    
                    
                    <a href="/item/board_read.naver?code=005930&amp;nid=235921179&amp;st=&amp;sw=&amp;page=1" onclick="return singleSubmitCheck();" title="무정부시대">무정부시대
                    
                    <img src="https://ssl.pstatic.net/imgstock/images5/new.gif" width="10" height="10"></a></td>
                <td class="p11">
                    hyuk****
                </td>
                <td><span class="tah p10 gray03">0</span></td>
                
                
                
                
                <td><strong class="tah p10 gray03 ">0</strong></td>
                <td><strong class="tah p10 gray03 ">0</strong></td>
                </tr>
                
            
                <tr onmouseover="mouseOver(this)" onmouseout="mouseOut(this)" align="center" style="background-color: rgb(255, 255, 255);">
                <td><span class="tah p10 gray03">2022.12.01 23:32</span></td>
                <td class="title">
                    
                    
                    <a href="/item/board_read.naver?code=005930&amp;nid=235921168&amp;st=&amp;sw=&amp;page=1" onclick="return singleSubmitCheck();" title="주가조작년 공소시효 몇 일 안 남았죠? ">주가조작년 공소시효 몇 일 안 남았죠?
                    <span class="tah p9" style="color:#639933">[<b>1</b>]</span>
                    <img src="https://ssl.pstatic.net/imgstock/images5/new.gif" width="10" height="10"></a></td>
                <td class="p11">
                    blac****
                </td>
                <td><span class="tah p10 gray03">7</span></td>
                
                
                
                
                <td><strong class="tah p10 red01">3</strong></td>
                <td><strong class="tah p10 blue01">1</strong></td>
                </tr>
                
            
                <tr onmouseover="mouseOver(this)" onmouseout="mouseOut(this)" align="center" style="background-color: rgb(255, 255, 255);">
                <td><span class="tah p10 gray03">2022.12.01 23:32</span></td>
                <td class="title">
                    
                    
                    <a href="/item/board_read.naver?code=005930&amp;nid=235921166&amp;st=&amp;sw=&amp;page=1" onclick="return singleSubmitCheck();" title="2찍과 무정란과 공통점은">2찍과 무정란과 공통점은
                    
                    <img src="https://ssl.pstatic.net/imgstock/images5/new.gif" width="10" height="10"></a></td>
                <td class="p11">
                    dr20****
                </td>
                <td><span class="tah p10 gray03">3</span></td>
                
                
                
                
                <td><strong class="tah p10 red01">1</strong></td>
                <td><strong class="tah p10 gray03 ">0</strong></td>
                </tr>
                
            
                <tr onmouseover="mouseOver(this)" onmouseout="mouseOut(this)" align="center" style="background-color: rgb(255, 255, 255);">
                <td><span class="tah p10 gray03">2022.12.01 23:32</span></td>
                <td class="title">
                    
                    
                    <a href="/item/board_read.naver?code=005930&amp;nid=235921154&amp;st=&amp;sw=&amp;page=1" onclick="return singleSubmitCheck();" title="안해욱 초등학교 태권도 연맹회장이란다ㅋㅋ">안해욱 초등학교 태권도 연맹회장이란다ㅋㅋ
                    <span class="tah p9" style="color:#639933">[<b>1</b>]</span>
                    <img src="https://ssl.pstatic.net/imgstock/images5/new.gif" width="10" height="10"></a></td>
                <td class="p11">
                    rimy****
                </td>
                <td><span class="tah p10 gray03">12</span></td>
                
                
                
                
                <td><strong class="tah p10 red01">1</strong></td>
                <td><strong class="tah p10 blue01">4</strong></td>
                </tr>
                
            
                <tr onmouseover="mouseOver(this)" onmouseout="mouseOut(this)" align="center" style="background-color: rgb(255, 255, 255);">
                <td><span class="tah p10 gray03">2022.12.01 23:31</span></td>
                <td class="title">
                    
                    
                    <a href="/item/board_read.naver?code=005930&amp;nid=235921134&amp;st=&amp;sw=&amp;page=1" onclick="return singleSubmitCheck();" title="검사가 수사권으로 보복하면 그게 검사니까 깡패지 ㅋ ">검사가 수사권으로 보복하면 그게 검사니까...
                    
                    <img src="https://ssl.pstatic.net/imgstock/images5/new.gif" width="10" height="10"></a></td>
                <td class="p11">
                    blac****
                </td>
                <td><span class="tah p10 gray03">9</span></td>
                
                
                
                
                <td><strong class="tah p10 red01">3</strong></td>
                <td><strong class="tah p10 blue01">1</strong></td>
                </tr>
                
                    <tr>
                    <td colspan="7" height="1" bgcolor="#e1e1e1"></td>
                    </tr>
                
            
                <tr onmouseover="mouseOver(this)" onmouseout="mouseOut(this)" align="center" style="background-color: rgb(255, 255, 255);">
                <td><span class="tah p10 gray03">2022.12.01 23:30</span></td>
                <td class="title">
                    
                    
                    <a href="/item/board_read.naver?code=005930&amp;nid=235921124&amp;st=&amp;sw=&amp;page=1" onclick="return singleSubmitCheck();" title="2찍 3기들 라면 먹고싶어서 알바하고">2찍 3기들 라면 먹고싶어서 알바하고
                    
                    <img src="https://ssl.pstatic.net/imgstock/images5/new.gif" width="10" height="10"></a></td>
                <td class="p11">
                    supe****
                </td>
                <td><span class="tah p10 gray03">6</span></td>
                
                
                
                
                <td><strong class="tah p10 red01">2</strong></td>
                <td><strong class="tah p10 blue01">1</strong></td>
                </tr>
                
            
                <tr onmouseover="mouseOver(this)" onmouseout="mouseOut(this)" align="center" style="background-color: rgb(255, 255, 255);">
                <td><span class="tah p10 gray03">2022.12.01 23:30</span></td>
                <td class="title">
                    
                    
                    <a href="/item/board_read.naver?code=005930&amp;nid=235921118&amp;st=&amp;sw=&amp;page=1" onclick="return singleSubmitCheck();" title="무속인 국운 여러편 보니까">무속인 국운 여러편 보니까
                    
                    <img src="https://ssl.pstatic.net/imgstock/images5/new.gif" width="10" height="10"></a></td>
                <td class="p11">
                    jess****
                </td>
                <td><span class="tah p10 gray03">5</span></td>
                
                
                
                
                <td><strong class="tah p10 gray03 ">0</strong></td>
                <td><strong class="tah p10 blue01">1</strong></td>
                </tr>
                
            
                <tr onmouseover="mouseOver(this)" onmouseout="mouseOut(this)" align="center" style="background-color: rgb(255, 255, 255);">
                <td><span class="tah p10 gray03">2022.12.01 23:29</span></td>
                <td class="title">
                    
                    
                    <a href="/item/board_read.naver?code=005930&amp;nid=235921110&amp;st=&amp;sw=&amp;page=1" onclick="return singleSubmitCheck();" title="마하트마 간디 선생 왈 2찍 국졸이는">마하트마 간디 선생 왈 2찍 국졸이는
                    <span class="tah p9" style="color:#639933">[<b>1</b>]</span>
                    <img src="https://ssl.pstatic.net/imgstock/images5/new.gif" width="10" height="10"></a></td>
                <td class="p11">
                    hous****
                </td>
                <td><span class="tah p10 gray03">9</span></td>
                
                
                
                
                <td><strong class="tah p10 red01">5</strong></td>
                <td><strong class="tah p10 blue01">1</strong></td>
                </tr>
                
            
                <tr onmouseover="mouseOver(this)" onmouseout="mouseOut(this)" align="center" style="background-color: rgb(255, 255, 255);">
                <td><span class="tah p10 gray03">2022.12.01 23:29</span></td>
                <td class="title">
                    
                    
                    <a href="/item/board_read.naver?code=005930&amp;nid=235921103&amp;st=&amp;sw=&amp;page=1" onclick="return singleSubmitCheck();" title="사람과 2찍은 차이점은">사람과 2찍은 차이점은
                    <span class="tah p9" style="color:#639933">[<b>2</b>]</span>
                    <img src="https://ssl.pstatic.net/imgstock/images5/new.gif" width="10" height="10"></a></td>
                <td class="p11">
                    dr20****
                </td>
                <td><span class="tah p10 gray03">9</span></td>
                
                
                
                
                <td><strong class="tah p10 red01">3</strong></td>
                <td><strong class="tah p10 blue01">1</strong></td>
                </tr>
                
            
                <tr onmouseover="mouseOver(this)" onmouseout="mouseOut(this)" align="center" style="background-color: rgb(255, 255, 255);">
                <td><span class="tah p10 gray03">2022.12.01 23:28</span></td>
                <td class="title">
                    
                    
                    <a href="/item/board_read.naver?code=005930&amp;nid=235921080&amp;st=&amp;sw=&amp;page=1" onclick="return singleSubmitCheck();" title="막 뿌듯하고 가슴이 뛰고 그렇냐?">막 뿌듯하고 가슴이 뛰고 그렇냐?
                    
                    <img src="https://ssl.pstatic.net/imgstock/images5/new.gif" width="10" height="10"></a></td>
                <td class="p11">
                    hshj****
                </td>
                <td><span class="tah p10 gray03">7</span></td>
                
                
                
                
                <td><strong class="tah p10 red01">2</strong></td>
                <td><strong class="tah p10 blue01">1</strong></td>
                </tr>
                
                    <tr>
                    <td colspan="7" height="1" bgcolor="#e1e1e1"></td>
                    </tr>
                
            
                <tr onmouseover="mouseOver(this)" onmouseout="mouseOut(this)" align="center" style="background-color: rgb(255, 255, 255);">
                <td><span class="tah p10 gray03">2022.12.01 23:27</span></td>
                <td class="title">
                    
                    
                    <a href="/item/board_read.naver?code=005930&amp;nid=235921062&amp;st=&amp;sw=&amp;page=1" onclick="return singleSubmitCheck();" title="김만배가 석열이 얘기도 다 했구만...">김만배가 석열이 얘기도 다 했구만...
                    <span class="tah p9" style="color:#639933">[<b>2</b>]</span>
                    <img src="https://ssl.pstatic.net/imgstock/images5/new.gif" width="10" height="10"></a></td>
                <td class="p11">
                    hsto****
                </td>
                <td><span class="tah p10 gray03">17</span></td>
                
                
                
                
                <td><strong class="tah p10 red01">5</strong></td>
                <td><strong class="tah p10 gray03 ">0</strong></td>
                </tr>
                
            
                <tr onmouseover="mouseOver(this)" onmouseout="mouseOut(this)" align="center" style="background-color: rgb(255, 255, 255);">
                <td><span class="tah p10 gray03">2022.12.01 23:26</span></td>
                <td class="title">
                    
                    
                    <a href="/item/board_read.naver?code=005930&amp;nid=235921045&amp;st=&amp;sw=&amp;page=1" onclick="return singleSubmitCheck();" title="■군대 똑바로 안갔다 온것들은.■">■군대 똑바로 안갔다 온것들은.■
                    <span class="tah p9" style="color:#639933">[<b>1</b>]</span>
                    <img src="https://ssl.pstatic.net/imgstock/images5/new.gif" width="10" height="10"></a></td>
                <td class="p11">
                    post****
                </td>
                <td><span class="tah p10 gray03">18</span></td>
                
                
                
                
                <td><strong class="tah p10 red01">2</strong></td>
                <td><strong class="tah p10 blue01">1</strong></td>
                </tr>
                
            
                <tr onmouseover="mouseOver(this)" onmouseout="mouseOut(this)" align="center">
                <td><span class="tah p10 gray03">2022.12.01 23:26</span></td>
                <td class="title">
                    
                    
                    <a href="/item/board_read.naver?code=005930&amp;nid=235921040&amp;st=&amp;sw=&amp;page=1" onclick="return singleSubmitCheck();" title="찰스 다윈은 이렇게 말했다">찰스 다윈은 이렇게 말했다
                    
                    <img src="https://ssl.pstatic.net/imgstock/images5/new.gif" width="10" height="10"></a></td>
                <td class="p11">
                    dr20****
                </td>
                <td><span class="tah p10 gray03">11</span></td>
                
                
                
                
                <td><strong class="tah p10 red01">3</strong></td>
                <td><strong class="tah p10 blue01">1</strong></td>
                </tr>
                
            
                <tr onmouseover="mouseOver(this)" onmouseout="mouseOut(this)" align="center">
                <td><span class="tah p10 gray03">2022.12.01 23:26</span></td>
                <td class="title">
                    
                    
                    <a href="/item/board_read.naver?code=005930&amp;nid=235921029&amp;st=&amp;sw=&amp;page=1" onclick="return singleSubmitCheck();" title="콜걸과 떡검의 콜라보레이션">콜걸과 떡검의 콜라보레이션
                    
                    <img src="https://ssl.pstatic.net/imgstock/images5/new.gif" width="10" height="10"></a></td>
                <td class="p11">
                    yusm****
                </td>
                <td><span class="tah p10 gray03">16</span></td>
                
                
                
                
                <td><strong class="tah p10 red01">8</strong></td>
                <td><strong class="tah p10 gray03 ">0</strong></td>
                </tr>
                
            
                <tr onmouseover="mouseOver(this)" onmouseout="mouseOut(this)" align="center">
                <td><span class="tah p10 gray03">2022.12.01 23:25</span></td>
                <td class="title">
                    
                    
                    <a href="/item/board_read.naver?code=005930&amp;nid=235921023&amp;st=&amp;sw=&amp;page=1" onclick="return singleSubmitCheck();" title="홍어들아 어카냐?ㅋㅋ">홍어들아 어카냐?ㅋㅋ
                    <span class="tah p9" style="color:#639933">[<b>5</b>]</span>
                    <img src="https://ssl.pstatic.net/imgstock/images5/new.gif" width="10" height="10"></a></td>
                <td class="p11">
                    seou****
                </td>
                <td><span class="tah p10 gray03">18</span></td>
                
                
                
                
                <td><strong class="tah p10 red01">4</strong></td>
                <td><strong class="tah p10 blue01">5</strong></td>
                </tr>
                
                    <tr>
                    <td colspan="7" height="1" bgcolor="#e1e1e1"></td>
                    </tr>
                
            
                <tr onmouseover="mouseOver(this)" onmouseout="mouseOut(this)" align="center" style="background-color: rgb(255, 255, 255);">
                <td><span class="tah p10 gray03">2022.12.01 23:25</span></td>
                <td class="title">
                    
                    
                    <a href="/item/board_read.naver?code=005930&amp;nid=235921022&amp;st=&amp;sw=&amp;page=1" onclick="return singleSubmitCheck();" title="판검사들 무소불위잡으라고 공수처만들어줬더니">판검사들 무소불위잡으라고 공수처만들어줬더...
                    
                    <img src="https://ssl.pstatic.net/imgstock/images5/new.gif" width="10" height="10"></a></td>
                <td class="p11">
                    kong****
                </td>
                <td><span class="tah p10 gray03">10</span></td>
                
                
                
                
                <td><strong class="tah p10 red01">3</strong></td>
                <td><strong class="tah p10 gray03 ">0</strong></td>
                </tr>
                
            
                <tr onmouseover="mouseOver(this)" onmouseout="mouseOut(this)" align="center" style="background-color: rgb(255, 255, 255);">
                <td><span class="tah p10 gray03">2022.12.01 23:24</span></td>
                <td class="title">
                    
                    
                    <a href="/item/board_read.naver?code=005930&amp;nid=235921002&amp;st=&amp;sw=&amp;page=1" onclick="return singleSubmitCheck();" title="포르노크라시란다">포르노크라시란다
                    
                    <img src="https://ssl.pstatic.net/imgstock/images5/new.gif" width="10" height="10"></a></td>
                <td class="p11">
                    dohi****
                </td>
                <td><span class="tah p10 gray03">17</span></td>
                
                
                
                
                <td><strong class="tah p10 red01">4</strong></td>
                <td><strong class="tah p10 gray03 ">0</strong></td>
                </tr>
                
            
                <tr onmouseover="mouseOver(this)" onmouseout="mouseOut(this)" align="center">
                <td><span class="tah p10 gray03">2022.12.01 23:24</span></td>
                <td class="title">
                    
                    
                    <a href="/item/board_read.naver?code=005930&amp;nid=235921001&amp;st=&amp;sw=&amp;page=1" onclick="return singleSubmitCheck();" title="안해욱 회장님의 쥴리에 대한 포토그래픽 메모리는">안해욱 회장님의 쥴리에 대한 포토그래픽 ...
                    
                    <img src="https://ssl.pstatic.net/imgstock/images5/new.gif" width="10" height="10"></a></td>
                <td class="p11">
                    doub****
                </td>
                <td><span class="tah p10 gray03">14</span></td>
                
                
                
                
                <td><strong class="tah p10 red01">4</strong></td>
                <td><strong class="tah p10 gray03 ">0</strong></td>
                </tr>
                
            
                <tr onmouseover="mouseOver(this)" onmouseout="mouseOut(this)" align="center">
                <td><span class="tah p10 gray03">2022.12.01 23:23</span></td>
                <td class="title">
                    
                    
                    <a href="/item/board_read.naver?code=005930&amp;nid=235920990&amp;st=&amp;sw=&amp;page=1" onclick="return singleSubmitCheck();" title="나스닥 월봉차트를 보믄서 시각을바꾸면">나스닥 월봉차트를 보믄서 시각을바꾸면
                    
                    <img src="https://ssl.pstatic.net/imgstock/images5/new.gif" width="10" height="10"></a></td>
                <td class="p11">
                    melo****
                </td>
                <td><span class="tah p10 gray03">11</span></td>
                
                
                
                
                <td><strong class="tah p10 gray03 ">0</strong></td>
                <td><strong class="tah p10 gray03 ">0</strong></td>
                </tr>
                
            
                <tr onmouseover="mouseOver(this)" onmouseout="mouseOut(this)" align="center" style="background-color: rgb(255, 255, 255);">
                <td><span class="tah p10 gray03">2022.12.01 23:23</span></td>
                <td class="title">
                    
                    
                    <a href="/item/board_read.naver?code=005930&amp;nid=235920985&amp;st=&amp;sw=&amp;page=1" onclick="return singleSubmitCheck();" title="장자크 루소가 한 말">장자크 루소가 한 말
                    <span class="tah p9" style="color:#639933">[<b>1</b>]</span>
                    <img src="https://ssl.pstatic.net/imgstock/images5/new.gif" width="10" height="10"></a></td>
                <td class="p11">
                    hous****
                </td>
                <td><span class="tah p10 gray03">13</span></td>
                
                
                
                
                <td><strong class="tah p10 red01">4</strong></td>
                <td><strong class="tah p10 gray03 ">0</strong></td>
                </tr>
                
            
            <tr><td colspan="7" height="5"></td></tr>
            </tbody>
            </table>
            <!--- 종목뉴스 끝--->
            
            <!--- 페이지 네비게이션 시작--->
            <table summary="게시판 옵션" cellpadding="0" cellspacing="0" width="680">
            <caption>게시판 옵션</caption>
            <tbody>
            <tr>
            
                
            
            
            <td align="left" style="padding: 10px 0 0 0;"><a href="javascript:openMyWriteLayer();"><img src="https://ssl.pstatic.net/static/finance/img/mysee_btn.gif" width="75" height="23" alt="내글보기"></a></td>
            <td align="center" width="100%">
                <table summary="페이지 네비게이션 리스트" class="Nnavi">
                <caption>페이지 네비게이션</caption>
                <tbody>
                <tr>
                    
                        
                        
                        <td class="on">
                    <a href="/item/board.naver?code=005930&amp;page=1">1</a>
                    </td>
    <td>
                    <a href="/item/board.naver?code=005930&amp;page=2">2</a>
                    </td>
    <td>
                    <a href="/item/board.naver?code=005930&amp;page=3">3</a>
                    </td>
    <td>
                    <a href="/item/board.naver?code=005930&amp;page=4">4</a>
                    </td>
    <td>
                    <a href="/item/board.naver?code=005930&amp;page=5">5</a>
                    </td>
    <td>
                    <a href="/item/board.naver?code=005930&amp;page=6">6</a>
                    </td>
    <td>
                    <a href="/item/board.naver?code=005930&amp;page=7">7</a>
                    </td>
    <td>
                    <a href="/item/board.naver?code=005930&amp;page=8">8</a>
                    </td>
    <td>
                    <a href="/item/board.naver?code=005930&amp;page=9">9</a>
                    </td>
    <td>
                    <a href="/item/board.naver?code=005930&amp;page=10">10</a>
                    </td>
    
                        <td class="pgR">
                    <a href="/item/board.naver?code=005930&amp;page=11">
                    다음<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3" height="5" alt="" border="0">
                    </a>
                    </td>
    
                        <td class="pgRR">
                    <a href="/item/board.naver?code=005930&amp;page=86986">맨뒤
                    <img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8" height="5" alt="" border="0">
                    </a>
                    </td>
    
                    
                </tr>
                </tbody>
                </table>
            </td>
            <td align="right" style="padding: 10px 0 0 0;">
            <a href="/item/board_write_edit.naver?code=005930&amp;mode=write"><img src="https://ssl.pstatic.net/imgstock/images5/btn_write.gif" width="66" height="23" alt="글쓰기"></a>
            </td>
            </tr></tbody>
            </table>
            <!--- 페이지 네비게이션 끝--->
            
            <table summary="글 검색" width="100%" cellpadding="0" cellspacing="0" style="margin-top: 16px;">
            <caption>글 검색</caption>
            <tbody>
                <form name="boardSearchFrm" action="board.naver" method="get"></form>
                <input type="hidden" name="code" value="005930">
                <tr>
                <td align="center" height="19">
                    
                    
                    <input type="radio" id="b02" name="st" value="title" checked="">제목
                    <input type="text" name="sw" value="">
                    <a href="javascript:doSearch();"><img src="https://ssl.pstatic.net/imgstock/images5/btn_search.gif" alt="검색" width="36" height="19" align="absmiddle"></a>
                </td>
                </tr>
                
            </tbody>
            </table>        
            </div>
    
    
   
    </body>
    </html>
    