<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stock.db.mapper.BoardMapper">


    <select id="getBoards" parameterType="com.stock.db.dto.Board.BoardCriteria"
            resultType="com.stock.db.dto.Board.BoardDetailDto">
        <if test = "writer == null">
            SELECT b.*, m.nickname, c.cname, count(r.rno) as reply
            FROM BOARD b join MEMBER M on b.mno = m.mno left join CORPORATION c on c.cno = b.cno LEFT JOIN REPLY R ON B.bno = R.bno
            <if test="category == 0">
                <if test="cno != null and title == null">
                    WHERE b.cno = #{cno}
                </if>
                <if test = "cno == null and title != null">
                    WHERE b.title like CONCAT('%', #{title},'%')
                </if>
                <if test="cno != null and title != null">
                    WHERE b.cno = #{cno} AND b.title like CONCAT('%', #{title},'%')
                </if>
            </if>
            <if test="category == 1">
                WHERE b.Cno IS NOT NULL
                <if test="cno != null and title == null">
                    AND b.cno = #{cno}
                </if>
                <if test = "cno == null and title != null">
                    AND b.title like CONCAT('%', #{title},'%')
                </if>
                <if test="cno != null and title != null">
                    AND b.cno = #{cno} AND b.title like CONCAT('%', #{title},'%')
                </if>
            </if>
            <if test="category == 2">
                WHERE b.Cno IS NULL
                <if test="cno != null and title == null">
                    AND b.cno = #{cno}
                </if>
                <if test = "cno == null and title != null">
                    AND b.title like CONCAT('%', #{title},'%')
                </if>
                <if test="cno != null and title != null">
                    AND b.cno = #{cno} and b.title like CONCAT('%', #{title},'%')
                </if>
            </if>
            GROUP BY B.bno
            ORDER BY bno DESC
            LIMIT ${skip}, ${size};
        </if>
        <if test = "writer != null">
            SELECT b.*, m.nickname, c.cname, count(r.rno) as reply
            FROM BOARD b join MEMBER M on b.mno = m.mno left join CORPORATION c on c.cno = b.cno LEFT JOIN REPLY R ON B.bno = R.bno
            <if test="category == 0">
                <if test="cno != null and writer == null">
                    WHERE b.cno = #{cno}
                </if>
                <if test = "cno == null and writer != null">
                    WHERE m.nickname like CONCAT('%', #{writer},'%')
                </if>
                <if test="cno != null and writer != null">
                    WHERE b.cno = #{cno} AND m.nickname like CONCAT('%', #{writer},'%')
                </if>
            </if>
            <if test="category == 1">
                WHERE b.Cno IS NOT NULL
                <if test="cno != null and writer == null">
                    AND b.cno = #{cno}
                </if>
                <if test = "cno == null and writer != null">
                    AND m.nickname like CONCAT('%', #{writer},'%')
                </if>
                <if test="cno != null and writer != null">
                    AND b.cno = #{cno} AND m.nickname like CONCAT('%', #{writer},'%')
                </if>
            </if>
            <if test="category == 2">
                WHERE b.Cno IS NULL
                <if test="cno != null and writer == null">
                    AND b.cno = #{cno}
                </if>
                <if test = "cno == null and writer != null">
                    AND m.nickname like CONCAT('%', #{writer},'%')
                </if>
                <if test="cno != null and writer != null">
                    AND b.cno = #{cno} and m.nickname like CONCAT('%', #{writer},'%')
                </if>
            </if>
            GROUP BY B.bno
            ORDER BY bno DESC
            LIMIT ${skip}, ${size};
        </if>
    </select>


    <select id="getMaxPageNum" parameterType="com.stock.db.dto.Board.BoardCriteria"
            resultType="_int">
        <if test = "writer == null">
            SELECT (count(*)-1) DIV #{size} + 1
            FROM BOARD b join MEMBER M on b.mno = m.mno left join CORPORATION c on c.cno = b.cno
            <if test="category == 0">
                <if test="cno != null and title == null">
                    WHERE b.cno = #{cno}
                </if>
                <if test = "cno == null and title != null">
                    WHERE b.title like CONCAT('%', #{title},'%')
                </if>
                <if test="cno != null and title != null">
                    WHERE b.cno = #{cno} AND b.title like CONCAT('%', #{title},'%')
                </if>
            </if>
            <if test="category == 1">
                WHERE b.Cno IS NOT NULL
                <if test="cno != null and title == null">
                    AND b.cno = #{cno}
                </if>
                <if test = "cno == null and title != null">
                    AND b.title like CONCAT('%', #{title},'%')
                </if>
                <if test="cno != null and title != null">
                    AND b.cno = #{cno} AND b.title like CONCAT('%', #{title},'%')
                </if>
            </if>
            <if test="category == 2">
                WHERE b.Cno IS NULL
                <if test="cno != null and title == null">
                    AND b.cno = #{cno}
                </if>
                <if test = "cno == null and title != null">
                    AND b.title like CONCAT('%', #{title},'%')
                </if>
                <if test="cno != null and title != null">
                    AND b.cno = #{cno} and b.title like CONCAT('%', #{title},'%')
                </if>
            </if>
        </if>
        <if test = "writer != null">
            SELECT (count(*)-1) DIV #{size} + 1
            FROM BOARD b join MEMBER M on b.mno = m.mno left join CORPORATION c on c.cno = b.cno
            <if test="category == 0">
                <if test="cno != null and writer == null">
                    WHERE b.cno = #{cno}
                </if>
                <if test = "cno == null and writer != null">
                    WHERE m.nickname like CONCAT('%', #{writer},'%')
                </if>
                <if test="cno != null and writer != null">
                    WHERE b.cno = #{cno} AND m.nickname like CONCAT('%', #{writer},'%')
                </if>
            </if>
            <if test="category == 1">
                WHERE b.Cno IS NOT NULL
                <if test="cno != null and writer == null">
                    AND b.cno = #{cno}
                </if>
                <if test = "cno == null and writer != null">
                    AND m.nickname like CONCAT('%', #{writer},'%')
                </if>
                <if test="cno != null and writer != null">
                    AND b.cno = #{cno} AND m.nickname like CONCAT('%', #{writer},'%')
                </if>
            </if>
            <if test="category == 2">
                WHERE b.Cno IS NULL
                <if test="cno != null and writer == null">
                    AND b.cno = #{cno}
                </if>
                <if test = "cno == null and writer != null">
                    AND m.nickname like CONCAT('%', #{writer},'%')
                </if>
                <if test="cno != null and writer != null">
                    AND b.cno = #{cno} and m.nickname like CONCAT('%', #{writer},'%')
                </if>
            </if>
        </if>
    </select>

    <insert id="insertBoard" parameterType="com.stock.db.dto.Board.BoardWriteDto">
        INSERT INTO BOARD(title, content, mno, cno)
        VALUES(#{title}, #{content}, #{mno}, #{cno});

        <selectKey keyProperty="bno" resultType="_int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <delete id="deleteBoard">
        DELETE FROM BOARD
        WHERE bno = #{bno};
    </delete>

    <select id="findByBno" resultType="com.stock.db.dto.Board.BoardDetailDto">
        SELECT B.*, M.nickname, C.cname
        FROM BOARD B JOIN MEMBER M ON B.Mno = M.Mno LEFT JOIN CORPORATION C ON B.Cno = C.Cno
        WHERE bno = #{bno};
    </select>

    <select id="getNewBoardsPreview" resultType="com.stock.db.dto.Board.BoardPreviewDto">
        SELECT b.bno, c.cname, b.title, date_format(b.write_date, '%Y-%m-%d') as write_date, count(r.rno) as reply
        FROM board b left join corporation c on b.cno = c.cno left join reply r on b.bno = r.bno
        GROUP BY b.bno
        ORDER BY b.bno DESC
        LIMIT #{num};
    </select>

</mapper>