<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stock.db.mapper.CorporationMapper">

    <resultMap id="priceMap" type="com.stock.db.domain.PriceVO">
        <result property="cno" column="cno"/>
        <result property="date" column="date"/>
        <result property="open" column="open"/>
        <result property="close" column="close"/>
        <result property="high" column="high"/>
        <result property="low" column="low"/>
        <result property="volume" column="volume"/>
        <result property="changeRate" column="change_rate"/>
    </resultMap>

    <resultMap id="corpMap" type="com.stock.db.domain.CorporationVO">
        <result property="cno" column="cno"/>
        <result property="cname" column="cname"/>
        <result property="overview" column="overview"/>
        <result property="sharesOutstanding" column="shares_outstanding"/>
        <result property="sector" column="sector"/>
        <collection property="priceVO" resultMap="priceMap"/>
    </resultMap>

    <select id = "getTopRisingCorporations" resultMap="corpMap" resultType="com.stock.db.domain.CorporationVO">
        select * from PRICE p join CORPORATION c on p.cno = c.cno
        where p.date = date_format(now(), '%Y-%m-%d')
        order by p.change_rate desc limit #{num};
    </select>

    <select id = "getTopDropCorporations" resultMap="corpMap" resultType="com.stock.db.domain.CorporationVO">
        select * from PRICE p join CORPORATION c on p.cno = c.cno
        where p.date = date_format(now(), '%Y-%m-%d')
        order by p.change_rate limit #{num};
    </select>

    <select id = "getTopTradingCorporations" resultMap="corpMap" resultType="com.stock.db.domain.CorporationVO">
        select * from CORPORATION c join PRICE p on p.cno = c.cno
        where p.date = date_format(now(), '%Y-%m-%d')
        order by p.volume DESC limit #{num};
    </select>

    <select id="getMaxPageNum" parameterType="com.stock.db.dto.Corporation.CorporationCriteria"
        resultType="_int">
        SELECT (COUNT(*)-1) DIV #{size} + 1
        FROM CORPORATION C JOIN PRICE P ON C.Cno = P.Cno
        where P.date = date_format(now(), '%Y-%m-%d')
        <if test="min != null">
            AND #{min} &lt;= P.change_rate*100 and P.change_rate*100 &lt;= #{max}
            <if test="cname != null">
                AND C.cname like CONCAT('%', #{cname},'%')
            </if>
        </if>
        <if test="min == null">
            <if test="cname != null">
                AND C.cname LIKE CONCAT('%', #{cname},'%')
            </if>
        </if>

        <if test="sorting == 0">
            ORDER BY C.Cno
        </if>
        <if test="sorting == 1">
            ORDER BY C.CNO DESC
        </if>
        <if test="sorting == 2">
            ORDER BY P.change_rate
        </if>
        <if test="sorting == 3">
            ORDER BY P.change_rate DESC
        </if>

    </select>

    <select id="findByCno" resultType="com.stock.db.domain.CorporationVO">
        SELECT *
        FROM CORPORATION
        WHERE C.Cno = #{cno};
    </select>

    <select id="getPage" resultMap="corpMap" parameterType="com.stock.db.dto.Corporation.CorporationCriteria">
        SELECT *
        FROM CORPORATION C JOIN PRICE P ON C.Cno = P.Cno
        where P.date = date_format(now(), '%Y-%m-%d')
        <if test="min != null">
            AND #{min} &lt;= P.change_rate*100 and P.change_rate*100 &lt;= #{max}
            <if test="cname != null">
                AND C.cname like CONCAT('%', #{cname},'%')
            </if>
        </if>
        <if test="min == null">
            <if test="cname != null">
                AND C.cname LIKE CONCAT('%', #{cname},'%')
            </if>
        </if>

        <if test="sorting == 0">
            ORDER BY C.Cno
        </if>
        <if test="sorting == 1">
            ORDER BY C.CNO DESC
        </if>
        <if test="sorting == 2">
            ORDER BY P.change_rate
        </if>
        <if test="sorting == 3">
            ORDER BY P.change_rate DESC
        </if>
        LIMIT ${skip}, ${size};
    </select>

    <select id="getTopRisingSectors" resultType="com.stock.db.dto.Corporation.SectorChangeRateDto">
        SELECT C.SECTOR, AVG(change_rate) AS change_rate
        FROM CORPORATION C JOIN PRICE P ON C.CNO = P.CNO
        WHERE P.DATE = DATE_FORMAT(NOW(), '%Y-%m-%d')
        GROUP BY SECTOR
        ORDER BY AVG(CHANGE_RATE) DESC LIMIT #{num};
    </select>

</mapper>