<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stock.db.mapper.MemberMapper">

    <select id = "findById" resultType="com.stock.db.domain.MemberVO">
        SELECT * FROM MEMBER WHERE id = #{id};
    </select>

    <select id = "findByMno" resultType="com.stock.db.domain.MemberVO">
        SELECT * FROM MEMBER WHERE mno = #{mno};
    </select>

    <insert id="insertMember" parameterType="com.stock.db.dto.Member.MemberSignUpDto">
        INSERT INTO MEMBER(id, pwd, mname, nickname, birth_date
                            ,email, phone, address, account, deposit)
                values(#{id}, #{pwd}, #{mname}, #{nickname}, #{birthDate},
                                #{email}, #{phone}, #{address}, #{account}, #{deposit});
        <selectKey keyProperty="mno" resultType="_int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="updateDeposit">
        UPDATE MEMBER
        SET Deposit = Deposit + (#{change})
        WHERE Mno = #{mno};
    </update>

</mapper>