<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stock.db.mapper.OrdersMapper">

    <update id="cancelOrder">
        UPDATE ORDERS
        SET State = 'CANCEL'
        WHERE Ono = #{ono};
    </update>

    <select id="getOrdersByMno" resultType="com.stock.db.dto.Orders.OrdersDetailDto">
        SELECT C.Cno, C.Cname, O.is_sale, O.price, O.quantity, O.Ono, O.state
        FROM ORDERS O JOIN CORPORATION C ON O.Cno = C.Cno
        WHERE O.Mno = #{mno}
        ORDER BY O.Ono DESC;
    </select>

    <select id = "findByOno" resultType="com.stock.db.domain.OrdersVO">
        SELECT * FROM ORDERS WHERE ono = #{ono};
    </select>

    <insert id="makeOrders" parameterType="com.stock.db.dto.Orders.MakeOrdersDto">
        INSERT INTO ORDERS(mno, cno, is_sale, quantity, price)
                VALUES(#{mno}, #{cno}, #{isSale}, #{quantity}, #{price});

        <selectKey keyProperty="ono" resultType="_int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="completeBuying">
        UPDATE ORDERS
        SET Trade_time = now(), State = 'COMPLETE'
        WHERE Ono = #{ono};
    </update>

    <update id="completeSale">
        UPDATE ORDERS
        SET Trade_time = now(), State = 'COMPLETE', gain = #{gain}
        WHERE Ono = #{ono};
    </update>

    <select id="getWaitOrders" resultType="com.stock.db.domain.OrdersVO">
        SELECT *
        FROM	ORDERS
        WHERE State = 'WAIT';
    </select>

</mapper>