<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stock.db.mapper.PriceMapper">

    <select id="getPriceHistory" parameterType="com.stock.db.dto.Price.HistorySearchDto"
        resultType="com.stock.db.domain.PriceVO">

        select *
        from price
        where date &lt;= date_format(now(), '%Y-%m-%d') and cno = #{cno}
        and date >= date_add(date_format(now(), '%Y-%m-%d'), interval #{interval} month)
        and date &lt; date_add(date_add(date_format(now(), '%Y-%m-%d'), interval #{interval} month), interval 1 month)
        order by date;

    </select>

    <select id = "isMarketOpen" resultType="boolean">
        select
        exists(
            select cno
            from price
            where date=date_format(now(), '%Y-%m-%d'))
        as open;
    </select>

    <select id = "isPriceBetweenLowAndHigh" resultType="boolean">
        select
        exists(
            select *
            from price
            where date=date_format(now() , '%Y-%m-%d')
                   and cno = #{cno} and (Low &lt;= #{price} and #{price} &lt;= High))
        as temp;
    </select>

    <select id="getOpen" resultType="_int">
        SELECT open
        FROM price
        WHERE date=date_format(now() , '%Y-%m-%d')
           AND cno = #{cno};
    </select>

</mapper>