<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/sign-in/">

    <link href="/docs/4.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body class="bg-light">
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" style="font-size:30px; color:darkgrey"href="#">KW-DBS</a>
    <a class="nav-link" style="color:gray; font-size:26px" href="../boarder/boarder.html">게시판</a>
    <a class="nav-link" style="color:gray; font-size:26px" href="#">종목조회</a>
    <a class="nav-link" style="color:gray; font-size:26px" href="#">보유주식</a>
    <a class="nav-link" style="color:gray; font-size:26px" href="#">관심종목</a>
    <a class="nav-link" style="color:black" href="#">로그인</a>
</nav>
<div class="text-center" style="padding:150px 500px 0px 500px;">
    <img src="../../static/images/logo.PNG" width="150" height="150">
    <form class="form-signin" style="padding-top:50px" action="" method="post">
  <label for="email" class="sr-only">Email address</label>
  <input type="email" id="email" class="form-control" placeholder="Email address" required autofocus>
  <label for="pwd" class="sr-only">Password</label>
  <input type="password" id="pwd" class="form-control" placeholder="Password" required>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="admin"> 관리자 로그인
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" >로그인</button>
</form>
<a href="#">회원가입</a>
</div>
</body>
</html>