<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragmnet="header-nav">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;height:100px">
        <a class="navbar-brand" style="font-size:30px; color:black"href="#">KW-DBS</a>
        <a class="nav-link" style="color:gray; font-size:26px" href="#">게시판</a>
        <a class="nav-link" style="color:gray; font-size:26px"">ㅣ</a>
        <a class="nav-link" style="color:gray; font-size:26px" href="#">종목조회</a>
        <a class="nav-link" style="color:gray; font-size:26px"">ㅣ</a>
        <a class="nav-link" style="color:gray; font-size:26px" href="#">보유주식</a>
        <a class="nav-link" style="color:gray; font-size:26px"">ㅣ</a>
        <a class="nav-link" style="color:gray; font-size:26px" href="#">관심종목</a>
        <a class="nav-link" style="color:black" href="#"><br>로그인</a>
    </nav>
</body>
</th:block>
</html>