<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<div layout:fragment="content" class="content container">
    <div class="card row z-depth-5">
        <div class="col s4">
            <h5>기업목록</h5>
            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s4"><a href="#list_top">거래상위</a></li>
                        <li class="tab col s4"><a href="#list_inc">상승</a></li>
                        <li class="tab col s4"><a href="#list_dec">하락</a></li>
                    </ul>
                </div>
                <div id="list_top" class="col s12">
                    <table>
                        <tr th:each="data : ${data_list_top}">
                            <td th:text="${data.cname}"></td>
                            <td th:text="${data.sharesOutstanding}"></td>
                            <td th:text="${data.priceVO.close}"></td>
                            <td th:class="${data.priceVO.changeRate > 0 ? 'red-text' : 'blue-text'}"
                                th:text="${#numbers.formatPercent(data.priceVO.changeRate, 2, 2)}"></td>
                        </tr>
                    </table>
                </div>
                <div id="list_inc" class="col s12">
                    <table>
                        <tr th:each="data : ${data_list_inc}">
                            <td th:text="${data.cname}"></td>
                            <td th:text="${data.sharesOutstanding}"></td>
                            <td th:text="${data.priceVO.close}"></td>
                            <td th:class="${data.priceVO.changeRate > 0 ? 'red-text' : 'blue-text'}"
                                th:text="${#numbers.formatPercent(data.priceVO.changeRate, 2, 2)}"></td>
                        </tr>
                    </table>
                </div>
                <div id="list_dec" class="col s12">
                    <table>
                        <tr th:each="data : ${data_list_dec}">
                            <td th:text="${data.cname}"></td>
                            <td th:text="${data.sharesOutstanding}"></td>
                            <td th:text="${data.priceVO.close}"></td>
                            <td th:class="${data.priceVO.changeRate > 0 ? 'red-text' : 'blue-text'}"
                                th:text="${#numbers.formatPercent(data.priceVO.changeRate, 2, 2)}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col s4">
            <h5>최근상승종목섹터</h5>
            <table class="striped">
                <tr th:each="data: ${data_list_sectors}">
                    <th th:text="${data.sector}"></th>
                    <td th:class="${data.changeRate > 0 ? 'red-text' : 'blue-text'}"
                        th:text="${#numbers.formatPercent(data.changeRate, 2, 2)}"></td>
                </tr>
            </table>
            <h5>게시판</h5>
            <span>최근 게시물</span><a href ="">더보기</a>
            <table class="striped">
                <tr th:each="board : ${new_boards}">
                    <th th:text = "[ + ${board.cname} + ]"></th>
                    <td th:text = "${board.title}"></td>
                    <td th:text = "[ + ${board.reply} + ]"></td>
                    <td th:text = "${board.writeDate}"></td>
                </tr>
            </table>
            <!--            <div th:insert="@{board}"></div>-->
        </div>
        <div class="col s4">
            <h5>코스피 지수</h5>
            <img src="https://ssl.pstatic.net/imgfinance/chart/main/KOSPI.png?sidcode=1670389860607">
            <h5>오늘의 주식왕</h5>
            <table class="striped">
                <tr th:each="member: ${top_users}">
                    <td th:text="${member.nickname}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

</html>